.custom-navbar {
  border-radius: 0px !important;
}
/*.custom-navbar {
  padding: 15px 0px 15px 0px;
  font-family: 'Volvo Sans';
  border-radius: 0px !important;
}

.brand-img {
  height: 50px;
  width: 100px;
}

.profile-img {
  height: 50px;
}

.profile-name {
  margin-left: 20px;
}

.menu-right {
  padding: 15px 0px;
}

.menu-left {
  padding: 15px 0px;
}*/
